<body id="main-body">


	<nav id="main-nav">
		<%= form_tag('/sessions', method: :post, :id => 'nav-sign-in-form') do |f| %>
		  <%= text_field_tag :email, nil, placeholder: "Email...", class: 'nav-sign-in-field' %>
		  <%= password_field_tag :password, nil, placeholder: "Password...", class: 'nav-sign-in-field'%>
		  <%= submit_tag 'Sign-In', :id => 'sign-in-button'%>
		<% end %>
		<img src="http://www.londonsyonpark.com/images/icon-mobile-nav.png" id="menu-icon">
	</nav>



	<h1>Neighborhoods</h1>


	<!-- NEIGHBORHOOD SELECTOR -->
	<%= form_tag('/neighborhoods/show', method: :get) do %>
	<%= select_tag :neighborhood_id, options_for_select([['Wicker Park', 1], ['Logan Square', 2]]) %>
	<%= submit_tag 'Explore', :id=> "neighborhood-button"%>
	<% end %>


	<!-- SIGN UP FORM -->
	<p id="sign-up-cta">SIGN-UP HERE</p>

	<%= form_for @user do |f| %>
	  <%= f.label :email %>
	  <%= f.text_field :email, class: 'sign-up-field'  %>
	  <%= f.label :password %>
	  <%= f.password_field :password, class: 'sign-up-field'  %>
	  <%= f.submit %>
	<% end %>


	<!-- LOG IN FORM -->
	<%= form_tag('/sessions', method: :post, :id => 'sign-in-form') do |f| %>
	  <%= text_field_tag :email, nil, placeholder: "Email...", class: 'sign-in-field' %>
	  <%= password_field_tag :password, nil, placeholder: "Password...", class: 'sign-in-field'%>
	  <%= submit_tag 'Sign-In', :id => 'sign-in-button'%>
	<% end %>

	<script type="text/javascript">

		$(document).ready(function(){

			// SIGN UP FORM
			$('#new_user').hide();

			$('#sign-up-cta').on("click", function(evt){
				evt.preventDefault();
				$('#new_user').slideToggle("slow");

			});


			// RESPONSIVE SIGN IN FORM
			$('#nav-sign-in-form').hide();

			$('#menu-icon').on("click", function(evt){
				evt.preventDefault();
				$('#nav-sign-in-form').slideToggle("slow");
			});

		})		


	</script>


</body>
