<h1>Neighborhoods</h1>


<%= form_tag('/neighborhoods/show', method: :get) do %>
<!-- hidden input w/neighbhorhood name -->
<%= select_tag :neighborhood_id, options_for_select([['Wicker Park', 1], ['Logan Square', 2]]) %>
<%= submit_tag %>
<% end %>




<%= form_tag('/users', method: :post) do |f| %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password_digest %>
  <%= submit_tag %>
<% end %>


<%= form_tag('/sessions', method: :post) do |f| %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password_digest %>
  <%= submit_tag %>
<% end %>

<!-- js to fetch from yelp/4sqr using the hidden neighborhood name -->
