<body id="admin-body">


<h1>Welcome to the Admin page</h1>

<%= form_for @neighborhood do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>
  <%= f.submit %>
<% end %>

<br>

<table>
  <thead>
    <tr>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
    <tr>
      <td><%= user.email %></td>
      <td>
        <%= form_tag("/users/#{ user.id }", method: :delete) do %>
          <%= submit_tag "Delete" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>Neighborhood</th>
      <th>Description</th>
      <th>Zip Code</th>
    </tr>
  </thead>
  <tbody>
    <% @neighborhoods.each do |hood|%>
    <tr>
      <td><%= hood.name %></td>
      <td><%= hood.description %></td>
      <td><%= hood.zipcode %></td>
      <td>
        <%= form_tag("/neighborhoods/#{ hood.id }/edit", method: :get) do %>
          <%= submit_tag "Edit" %>
        <% end %>
      </td>
      <td>
        <%= form_tag("/neighborhoods/#{ hood.id }", method: :delete) do %>
          <%= submit_tag "Delete" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>