<body id="profile-body">

  <nav id="profile-nav">
    <%= form_tag('/sessions', method: :update, :id => 'nav-edit-form') do |f| %>
      <%= text_field_tag :email, nil, placeholder: "Email...", class: 'nav-edit-field' %>
      <%= password_field_tag :password, nil, placeholder: "Password...", class: 'nav-edit-field'%>
      <%= submit_tag 'Edit', :id => 'edit-button'%>
    <% end %>
  </nav>

  <h1>Hello <%= @user.email %></h1>

  <!-- Things to create -->
    <!-- windows for email and email so they can be edited within the profile page -->

  <p id="edit-form">Edit Email or Password</p>


  <script type="text/javascript">
    $(document).ready(function(){
      $('#current_user').hide();
      $('#edit-form').on("click", function(evt){
        evt.preventDefault();
        $('#current_user').slideToggle("slow");
      });

      $('')

      $('input[name="user[password]"]').on('keyup', function(evt){
        evt.preventDefault();
        var emailField = $(this);
        if (emailField.val().length >= 6){
          emailField.css("background-color", "rgba(89,193,114,.5)");
        } else {
          emailField.css("background-color", "rgba(255,1,1,.5)");
        }
      });

    })

  </script>

</body>
