
<body id="show-body">
	<style type="text/css">






		ul{
			padding: 0;
			width: 100%;
			display: block;
			overflow: auto;
			list-style: none;
		}

		li{
			float: left;
			width: 25%;
			text-align: center;
		}

		li img{
			display: block;
			width: 100px;
			margin: 0 auto;
		}

		#yelp_logo {
			width:115px;
			height:25;
			float: left;
		}

		#foursquare_logo {
			float: right;
		}

	</style>

	<h1><%= @neighborhood.name %></h1>
	<h2><%= @neighborhood.description%></h2>

	<!-- SEARCH BAR -->
	<form>
		<input type="text" id="search-field">
		<input type="submit" id="search-submit">

	</form>

	<img src="https://s3-media3.fl.yelpcdn.com/assets/2/www/img/65526d1a519b/developers/Powered_By_Yelp_Red.png" alt="Powered by Yelp, red" id= 'yelp_logo'>
	<img style="-webkit-user-select: none" src="https://ss0.4sqi.net/img/poweredByFoursquare/poweredby-full-color-bf549c16c0ab3e1b04706ab5fcb422f1.png" id= 'foursquare_logo'>


	<ul id="search-result">

	</ul>



	<!-- RESTAURANTS -->
	<ul id="restaurant-suggestions">

		<li>
			<h2><%= @restaurants[0].name %></h2>
			<h2><%= @restaurants[0].snippet_text %></h2>
			<img src=<%= @restaurants[0].rating_img_url_small %>>
		</li>

		<li>
			<h2><%= @restaurants[1].name %></h2>
			<img src=<%= @restaurants[1].image_url %>>
			<img src=<%= @restaurants[1].rating_img_url_small %>>
		</li>

	</ul>



	<!-- BARS -->
	<ul id="bar-suggestions">

		<li>
			<h2><%= @bars[0].name %></h2>
			<h2><%= @bars[0].location.neighborhoods %></h2>
			<img src=<%= @bars[0].rating_img_url_small %>>
		</li>

		<li>
			<h2><%= @bars[1].name %></h2>
			<img src=<%= @bars[1].image_url %>>
			<img src=<%= @bars[1].rating_img_url_small %>>
		</li>


	</ul>


	<script type="text/javascript">

		$(document).ready(function(evt){


			//======================================================
			//		FOUR SQUARE SUGGESTION LIST
			//======================================================

			function fourSquareSuggestions(){

				var clientKey = 'PFZGPZCMEIYOB1CLDVEFJXN2BBQP3CTLPDOJEMR1JPQ2A1TL';
				var clientSecret = 'WRENZBLZL5DQK3NEOGALJ1K4J0YQRE4EXHGYHDWJNAG0QEVC';
				var location = <%= @neighborhood.zipcode %>
				function randNum(num){
					return Math.floor(Math.random() * num) + 1;
				}

				//=================RESTAURANTS
				$.ajax({
					method: 'get',
					url: 'https://api.foursquare.com/v2/venues/search?client_id='+clientKey+'&client_secret='+clientSecret+'&v=20130815&near='+location+'&query=restaurant&limit=10',
					dataType: 'json',
					success: function(data){
						var results = data.response.venues;
						var result1 = results[randNum(10)];
						var result2 = results[randNum(10)];
						if (!result1){
							result1 = results[randNum(10)];
						} else if (!result2){
							result2 = results[randNum(10)];
						} else if (result1.name == result2.name){
							result2 = results[randNum(10)];
						};
						var listItem = $('<li>').html('<h2>'+result1.name+'</h2>');
						$('#restaurant-suggestions').append(listItem);
						var listItem = $('<li>').html('<h2>'+result2.name+'</h2>');
						$('#restaurant-suggestions').append(listItem);
						debugger
						var listItem = $('<li>').html('<h3>'+result1.id+'</h3>');
						$('#restaurant-suggestions').append(listItem);

					}
				})
				//=================BARS
				$.ajax({
					method: 'get',
					url: 'https://api.foursquare.com/v2/venues/search?client_id='+clientKey+'&client_secret='+clientSecret+'&v=20130815&near='+location+'&query=bars&limit=10',
					dataType: 'json',
					success: function(data){
						var results = data.response.venues;
						var result1 = results[randNum(10)];
						var result2 = results[randNum(10)];
						if (!result1){
							result1 = results[randNum(10)];
						} else if (!result2){
							result2 = results[randNum(10)];
						} else if (result1.name == result2.name){
							result2 = results[randNum(10)];
						};
						var listItem = $('<li>').html('<h2>'+result1.name+'</h2>');
						$('#bar-suggestions').append(listItem);
						var listItem = $('<li>').html('<h2>'+result2.name+'</h2>');
						$('#bar-suggestions').append(listItem);

					}
				})
			}


			//======================================================
			//		FOUR SQUARE SEARCH
			//======================================================

			$('#search-submit').click(function(evt){

				evt.preventDefault();

				var searchTerm = $('#search-field').val();
				var clientKey = 'PFZGPZCMEIYOB1CLDVEFJXN2BBQP3CTLPDOJEMR1JPQ2A1TL';
				var clientSecret = 'WRENZBLZL5DQK3NEOGALJ1K4J0YQRE4EXHGYHDWJNAG0QEVC';
				var location = <%= @neighborhood.zipcode %>
				$.ajax({
					method: 'get',
					url: 'https://api.foursquare.com/v2/venues/search?client_id='+clientKey+'&client_secret='+clientSecret+'&v=20130815&near='+location+'&query='+searchTerm+'&limit=5',
					dataType: 'json',
					success: function(data){
						$('#search-result').empty();
						var results = data.response.venues;
						var result1 = results[0];
						if (!result1){
							result1 = results[randNum(5)];
						}
						var listItem = $('<li>').html('<h2>'+result1.name+'</h2>')
						$('#search-result').append(listItem.html());

					}
				});
				var hello = $.ajax({
					method: 'get',
					url: '/search/' + <%= @neighborhood.id %>,
					dataType: 'json',
					data: {term: searchTerm},
					success: function(){


					}
				});
				console.log(hello);


			});



			//======AJAX CALLS FOR RESTAURANT / BAR SUGGESTIONS
			fourSquareSuggestions();

		})






	</script>



</body>
