
<body id="show-body">

	<h1><%= @neighborhood.name %></h1>
	<h2><%= @neighborhood.description%></h2>
	<h2><%= @neighborhood.zipcode %></h2>

	<!-- SEARCH BAR -->
	<form>
		<input type="text" id="search-field">
		<input type="submit" id="search-submit">
	</form>


	<!-- RESTAURANTS -->
	<ul id="search-result">

	</ul>
	
	<!-- RESTAURANTS -->
	<ul id="restaurant-suggestions">

	</ul>

	<!-- BARS -->
	<ul id="bar-suggestions">

	</ul>




	<script type="text/javascript">
		var app = app || {};

		//NEIGBORHOOD ZIPCODE
		app.neighborhoodZip = <%= @neighborhood.zipcode %>;
		app.neighborhoodId = <%= @neighborhood.id %>;

		$(document).ready(function(evt){
			//=====SUGGESTION AJAX CALLS
			app.suggestions();
			app.searchStuff();
		});

	</script>

</body>
